.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: white;
  background-color: #252734;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
}

.title {
  font-size: 1.5rem;
}

.navigation {
  display: flex;
}

.black-button, .green-button {
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.black-button {
  background-color: black;
  color: white;
  border-radius: 50px;
  padding: 20px 50px 20px 50px;
  cursor: pointer;
  border: none;
}

.green-button, .chat-button {
  background-color: #39FE47;
  color: black;
  border-radius: 50px;
  padding: 20px 50px 20px 50px;
  cursor: pointer;
  border: none;
}

.chat-button {
  display: none;
}

.main {
  display: flex;
  flex: 1;
  padding: 1rem;
  margin: 2rem;
}


.content {
  flex: 1;
  text-align: left;
  padding: 10%;
  margin-top: -40px;
  margin-left: -80px;
}

.image {
  flex: 1;
  background: url('../../assets/airfryer.png') no-repeat center center;
  background-size: contain;
}

.footer {
  padding: 1rem;
  text-align: right;
}

@media (max-width: 768px) {
  .header, .main, .footer {
    flex-direction: column;
  }

  .navigation {
    flex-direction: column;
  }

  .black-button, .chat-button {
    width: 100%;
    margin-bottom: 0.5rem;
  }

  .content, .image {
    order: 2;
  }
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 1000;
}

.Modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #252734;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 450px;
  z-index: 1001;
  outline: none;
}

.modal-content {
  max-height: calc(100vh - 40px);
  overflow-y: auto;
  color: white;
}

.Modal input {
  width: calc(100% - 20px);
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.Modal button {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
  background-color: #39FE47;
  color: black;
  font-size: 16px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .Modal {
    width: 80%;
  }
  .Modal input,
  .Modal button {
    font-size: 14px;
  }
}

.toggle-form-text {
  color: #bbb;
  text-align: center;
  cursor: pointer;
}

.toggle-form-text span {
  color: #39FE47;
  text-decoration: underline;
}
